<div class="filters">
  <span class="date-filter">
    Период: <input type="text" [ngModel]="startDate | date:'dd-MMM-yyyy'" (ngModelChange)="startDate = $event" placeholder="От" onfocus="this.type='date'">
   <input type="text" [ngModel]="endDate | date:'dd-MMM-yyyy'" (ngModelChange)="endDate = $event" placeholder="До" onfocus="this.type='date'">
  </span>
  <span class="outlet-filter">
    Грузополучатель:<p-dropdown [options]="outletsItems" [showClear]="true" [(ngModel)]="selectedOutlet" optionLabel="description" placeholder="Любой"></p-dropdown>
  </span>
  <span>
    <button (click)="loadOrdersWithFilters()" class="btn">Загрузить</button>
  </span>
  <div>
    <!--Количество записей на странице: <input type="text" [ngModel]="rowsCount" (ngModelChange)="onRowsCountChange($event)">-->
    <p-dropdown [options]="rowsCountItems" [ngModel]="rowsCount" (ngModelChange)="onRowsCountChange($event)" optionLabel="num"></p-dropdown>
  </div>
</div>
<div>

</div>
<div class="orders" *ngIf="showContent">
  <div class="p-table text-align-center">
    <p-table [value]="orders" [paginator]="true" [rows]="rowsCount.num">
      <ng-template pTemplate="header">
        <tr>
          <th width="10%">Название</th>
          <th width="20%">Грузополучатель</th>
          <th width="10%">Дата доставки</th>
          <th width="10%">Статус</th>
          <th width="10%">Вес, кг</th>
          <th width="10%">Сумма, руб.</th>
          <th>Комментарий</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr (click)="showOrderDetails(item)">
          <td>{{ 'Заказ №' + item.Number }}</td>
          <td>{{ item.PickUp ? 'Самовывоз' : item.OutletDescription }}</td>
          <td>{{ item.ShipDate | date : 'dd MMM yyyy' }}</td>
          <td>{{ item.Status }}</td>
          <td>{{ item.TotalFactQuant }}</td>
          <td>{{ item.TotalFactSumma }}</td>
          <td>{{ item.Comment }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

