.bold {
    font-weight: 600;
}

.p-table {
  margin-top: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

tr{
  cursor: pointer;
}

tr:hover {
  background-color: #ddfbca !important;
}

.orders{
  margin-top: 80px;
}

td {
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
}

th {
  border-right: none !important;
  border-left: none !important;
}

body .ui-paginator {
  border: none !important;
}
