.bold {
    font-weight: 600;
}

.p-table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

tr{
  cursor: pointer;
}

tr:hover {
  background-color: #ddfbca !important;
}

.orders{
  margin-top: 60px;
}

td {
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
}

th {
  border-right: none !important;
  border-left: none !important;
}

body .ui-paginator {
  border: none !important;
}

.filters {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  margin-top: 80px;
}

span {
  margin: 0 5px;
}

.ui-dropdown {
  width: 150px !important;
}

.date-filter > input {
  margin: 0 1px;
}

