.item {
    border-bottom: 1px solid #E1DFDF;
    padding-top: 15px;
    padding-bottom: 15px;
}

.commit {
    width: 120px;
    height: 50px;
}

.mt-30 {
    margin-top: 30px;
}

.summary {
    font-size: 14pt;
    font-weight: 600;
}

.container-fluid {
    width: 90%;
    position: relative;
    margin-top: -30px;
}

.pseudo-header {
    width: 100%;
    height: 30px;
    background-color: #E1DFDF;
    margin-top:60px;
}

.delete-btn {
    background-color:#FFFFFF;
    color: #d62424;
    border: none;
    cursor: pointer;
    outline: none;
}

.description {
  font-size: 14px;
}

.content-table {
  font-family: 'Roboto-Condensed', sans-serif;
}


