<div class="pseudo-header"></div>
<div class="container-fluid">
    <div class="row table-header mb-2">
      <div class="col-lg-2"></div>
      <div class="col-lg-3">Наименование</div>
      <div class="col-lg-1">Сумма</div>
      <div class="col-lg-2">Грузовых мест</div>
      <div class="col-lg-2">Вес, кг</div>
      <div class="col-lg-1">Заказ</div>
  </div>
  <div class="row item" *ngFor="let item of preOrder.preOrderItems">
    <div class="col-lg-2"></div>
    <div class="col-lg-3">{{ item.good.description }}</div>
    <div class="col-lg-1">{{ item.good.price }}</div>
    <div class="col-lg-2">{{ item.quantPacking }}</div>
    <div class="col-lg-2">{{ item.quant }}</div>
    <div class="col-lg-1">{{ (item.good.price * item.quant) | number : '1.2-2' }}</div>
    <div class="col-lg-1"><button (click)="onItemDelete(item)" class="delete-btn"><i class="fa fa-times"></i></button></div>
  </div>
  <div class="row mt-30" *ngIf="preOrder.itemCount > 0; else notification">
    <div class="col-lg-2"><span class="summary">Итого: {{ preOrder.amount | number: '1.2-2' }} р.</span></div>
    <div class="col-lg-2"><button class="btn" (click)="onOrderCreate()">К оформлению</button></div>
    <div class="col-lg-6"></div>
    <div class="col-lg-2"><a class="clean-link" (click)="onOrderClean()">Очистить корзину</a></div>
  </div>
  <ng-template #notification>
    <div class="row">
      <div class="col-lg-12">Ваша корзина пуста</div>
    </div>
  </ng-template>
 </div>
