.calculations {
  margin-top: 80px;
}

table {
  margin-top: 40px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

tr {
  height: 40px;
}

table, td, th {
  border: 1px solid lightgrey;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
}

th {
  height: 40px;
}

tr:hover {
  background-color: #ddfbca !important;
}

.date-filter {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
}

button {
  margin-left: 10px;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.debt {
  position: fixed;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

}
