.dialog > * {
    margin-bottom: 25px;
}

.dialog {
    width: 450px;
    height: 520px;
  padding: 10px 10px;
  font-family: 'Roboto-Condensed', sans-serif;
}

textarea {
    width: 100%;
    height: 120px;
}

.delivery-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.ui-dropdown {
    min-width: 200px !important;
}

.higher {
    height: 580px;
}

h5 {
    font-weight: 600;
}

.title {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #d62424;
  color: #ffffff;
  height: 30px;
  font-family: 'Roboto-Condensed', sans-serif;
  padding: 5px 10px;
  text-align: center;
}
