button {
  background-color: #ffffff;
  border:none;
  cursor: pointer;
  outline: none;
}

li {
  width: auto;
  display: table;
  margin-left: 50px;
  margin-top: 5px;
}

.custom-menu {
  font-size: 14px;
  width: auto;
  display:inline-block;
  background: #ffffff;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.39);
  position: absolute;
  z-index: 11;
  left: 0;
  top: 60px;
  margin-left: 110px;
  border-radius: 8px;
  overflow: hidden;
}

.category-img {
  max-width: 25px;
  max-height: 25px;
  min-width: 25px;
  min-height: 25px;
}

.category {
  min-height: 40px;
  border-bottom: 1px solid #ffffff;
  padding: 5px 5px;

}

a, .group, .category {
  cursor: pointer;
}

.group {
 padding-left: 50px;
  min-height: 30px;
}

.group:hover {
  background-color: #ddfbca;
}
