.spinner-wrapper {
  position: fixed;
  z-index: 20;
  width: 100%;
  height: calc(100% - 200px);
}

.mat-spinner {
  width: 100px;
  height: 100px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100px;
}

.text-align-center {
    text-align: center;
}

section {
  height: 100%;
}
.wrapper {
  min-width: 1420px;
}
