<div class="login-container">
  <form>
    <div class="login-inputs">
      Укажите номер телефона для дальнейшей регистрации
      <input id="phoneNumber" type="text" placeholder="Номер телефона" name="phoneNumber" [(ngModel)]="phoneNumber" (change)="onPhoneNumberChange()"/>
    </div>
    <div class="login-buttons">
      <input id="sendSms" type="button" (click)="sendSms()" value="Получить СМС"/>
    </div>
    {{ response }}
    <div class="login-links">
      <a id="back" routerLink="/">Назад</a>
    </div>
  </form>
</div>

