<header class="header">
  <nav class="fixed-top">
    <!--<img width="logo">-->
    <div class="logo"><img src="assets/Derzhavin_512.png" width="56" height="56"></div>
      <div class="catalog header-button" [ngClass]="router.url.includes('goods') ? 'active' : ''" id="menu" (click)="onCatalogClick()">
          Каталог

          <!--<button mat-menu-item *ngFor="let category of categories" (click)="onAnchorClick(category.uuid)">-->
            <!--<img src="{{ 'http://mobile.optvrn.ru:5050/images/category/' + category.uuid +  '.jpg' }}">-->
            <!--<span>{{ category.descr }}</span>-->
          <!--</button>-->

      </div>
      <app-menu-category></app-menu-category>
      <div class="orders header-button" routerLink="orders" [ngClass]="router.url.includes('orders') ? 'active' : ''" [hidden]="!isAuthorized()">
        Заказы
      </div>
      <div class="documents header-button" routerLink="calculations" [ngClass]="router.url.includes('calculations') ? 'active' : ''" [hidden]="!isAuthorized()">
        Взаиморасчеты
      </div>
    <div class="header-search">
      <input placeholder="Поиск..." (input)="onSearchInputChange($event)"/>
<!--      <ng-select [items]="filteredGoods"-->
<!--                 [loading]="false"-->
<!--                 (search)="customSearchFn($event, this)"-->
<!--                 [isOpen]="isListOpen"-->
<!--                 [(ngModel)]="selectedGood"-->
<!--                 bindLabel="description"-->
<!--                 placeholder="Поиск..."-->
<!--                (change)="onSelect()">-->
<!--        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">-->
<!--          <img class="img-small" src="{{ 'http://mobile.optvrn.ru:5050/images/goods/' + item.uuid + '/' + item.uuid + '_' + '1_t.jpg' }}" onerror="this.src='assets/default.jpg'">-->
<!--          <span style="float:right; margin-top: 20px; vertical-align: middle; font-size: 12px;"> {{item.description}}</span>-->
<!--        </ng-template>-->
<!--      </ng-select>-->
    </div>
    <div id="profile-menu" class="login header-button" (click)="onSettingsClick()" [ngClass]="router.url.includes('profile') ? 'active' : ''">Профиль</div>
    <app-profile-menu></app-profile-menu>

    <!--<p-dropdown [options]="filteredGoods" [(ngModel)]="selectedGood" placeholder="Поиск"></p-dropdown>-->
    <div class="bucket header-button" routerLink="order" [ngClass]="router.url.includes('order') && !router.url.includes('orders') ? 'active' : ''"><i class="fa fa-shopping-cart"></i><span class="order-span">{{ orderItemCount < 1 ? ' Корзина' : '  '+ orderItemCount + ' тов.  ' + (orderAmount | number : '1.2-2') + ' р.'}}</span></div>

    <div class="login header-button" id="custom_intercom_launcher">Чат</div>
      <!--<div class="col-lg-2">-->
        <!--<button mat-icon-button [matMenuTriggerFor]="profile" id="profile" class="profile-link" >-->
          <!--<i class="fa fa-address-card"></i>-->
        <!--</button>-->
        <!--<mat-menu #profile="matMenu">-->
          <!--<button mat-menu-item routerLink="order-list">-->
            <!--Список заказов-->
          <!--</button>-->
          <!--<button mat-menu-item routerLink="calculations">-->
           <!--Акт сверки-->
          <!--</button>-->
          <!--<button mat-menu-item routerLink="news">-->
           <!--Новости-->
          <!--</button>-->
        <!--</mat-menu>-->
        <!--</div>-->
  </nav>

</header>
