<header class="header">
  <nav class="navbar fixed-top">
    <div class="container-fluid">
      <div class="col-lg-1">
        <a routerLink="good-list">Остатки товаров</a>
      </div>
      <div class="col-lg-1">
        <button mat-icon-button [matMenuTriggerFor]="menu" id="menu">
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngFor="let category of categories">
            <span [ngx-scroll-to]="category.descr" [ngx-scroll-to-duration]="0">{{ category.descr }}</span>
          </button>
        </mat-menu>
      </div>
      <div class="col-lg-4">
        <input id="search" type="text" placeholder="Поиск">
      </div>
      <div class="col-lg-3"><a routerLink="order" class="order-link"><i class="fa fa-shopping-cart"></i><span class="order-span">{{ '  '+ orderItemCount + ' тов.  ' + (orderAmount | number : '1.2-2') + ' р.'}}</span></a></div>
      <div class="col-lg-2"><a class="profile-link" routerLink="profile" routerLinkActive="router-link-active" ><i class="fa fa-address-card"></i></a></div>
    </div>
  </nav>
</header>