nav.navbar {
    height: 60px;
    background-color: #850A0A;
}

#search {
  width: 100%;
  border-radius: 5px;  
}

#menu {
    border-radius: 50%;
    background-color: gray;
    border-color: gray;
    width: 35px;
    height: 35px;
}

header {
    position:relative;
    z-index:999;
    top:0;
}

.profile-link {
    color: gray;
    font-size: 1.5em;
}

.order-link {
    background-color: gray;
    color: white;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: 100;
    text-decoration: none;
}

.order-span {
    font-size: 0.8em;
}