<div class="category-container">
<div *ngFor="let category of categories" class="menu-block">
  <div class="img-block"><img class="category-img" src="{{ 'http://mobile.optvrn.ru:5050/images/category/' + category.uuid +  '.jpg' }}"></div>
  <div class="category-block">
    <span (click)="onCategoryClick(category.uuid, $event)">{{ category.descr }}</span>
    <ul>
      <li *ngFor="let group of category.groups" (click)="onGroupClick(category.uuid, group)">
       {{ group.descr }}
      </li>
    </ul>
  </div>
</div>
</div>
