.divider {
  border-bottom: 1px solid lightgrey;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.scrolled {
  max-height: 750px;
  min-height: 500px;
  width: auto;
  padding: 0 20px 20px 20px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  overflow-y: hidden;
}

table {
  width: 900px;
  overflow-y: scroll;
  height: 500px;
  display: inline-block;
}

tr {
  border-bottom: 1px solid lightgrey;
  background-color: #f4f4f4;
}

.order-header {
  text-align: left;
}

.title {
  text-align: center;
  color: white;
  background-color: red;
  padding-top: 5px;
  height: 40px;
}

