<div class="scrolled">
<div *ngFor="let good of order.FactOrderGoodsItems" class="mh-205 divider">
    <div class="row">
      <div class="col-5">
        <img src= "{{ 'http://mobile.optvrn.ru:5050/images/goods/' + good.GoodUUID + '/' + good.GoodUUID + '_' + '1_t.jpg' }}">
      </div>
      <div class="col-7">
        <div class="row">
          {{ good.GoodDescription }}
        </div>
        <div class="row">
          {{ good.Price }}
        </div>
        <div class="row">
          {{ getGoodOrderInfo(good.GoodUUID) }}
        </div>
        <div class="row">
          Отгружено: {{ good.GoodQuant + good.GoodUnit}} за {{ good.Summa }}
        </div>
      </div>
    </div>
  </div>
</div>