<div class="scrolled text-align-center">
  <table>
    <tr>
      <th width="10%">Фото</th>
      <th width="55%">Товар</th>
      <th width="5%">Цена</th>
      <th width="15%">Заказано</th>
      <th width="15%">Отгружено</th>
    </tr>
    <tbody>
      <tr *ngFor="let good of order.FactOrderGoodsItems" class="mh-205 divider">
        <td><img class="img-small" src="{{ 'http://mobile.optvrn.ru:5050/images/goods/' + good.GoodUUID + '/' + good.GoodUUID + '_' + '1_t.jpg' }}" onerror="this.src='assets/default.jpg'"></td>
        <td> {{ good.GoodDescription }} </td>
        <td> {{ good.Price }}</td>
        <td> {{ getGoodOrderInfo(good.GoodUUID) }}</td>
        <td> {{ good.GoodQuant + good.GoodUnit}} за {{ good.Summa }}</td>
      </tr>
    </tbody>
  </table>
</div>
