<h4 class="title">Заказ № {{ order.Number }}</h4>
<div class="scrolled text-align-center">
  <div class="order-header">
    <div>Грузополучатель: {{ order.OutletDescription }}</div>
    <div>Дата создания: {{ order.CreateDate | date : 'dd MMM yyyy' }}</div>
    <div>Дата доставки: {{ order.ShipDate | date : 'dd MMM yyyy' }}</div>
    <div>Вес: {{ order.TotalFactQuant }}</div>
    <div>Сумма: {{ order.TotalFactSumma }}</div>
    <div>Статус: {{ order.Status }}</div>
    <div>Комментарий: {{ order.Comment }}</div>
  </div>
  <table>
    <tr>
      <th width="10%">Фото</th>
      <th width="55%">Товар</th>
      <th width="5%">Цена</th>
      <th width="15%">Заказано</th>
      <th width="15%">Отгружено</th>
    </tr>
    <tbody>
      <tr *ngFor="let good of order.FactOrderGoodsItems" class="mh-205 divider" (click)="showItemDialog($event, item)">
        <td><img class="img-small" src="{{ 'http://mobile.optvrn.ru:5050/images/goods/' + good.GoodUUID + '/' + good.GoodUUID + '_' + '1_t.jpg' }}" onerror="this.src='assets/default.jpg'"></td>
        <td> {{ good.GoodDescription }} </td>
        <td> {{ good.Price }}</td>
        <!--<td> {{ getGoodOrderInfo(good.GoodUUID) }}</td>-->
        <td>
          <div>{{ getGoodOrderSumma(good.GoodUUID) }}</div>
          <div>{{ getGoodOrderQuant(good.GoodUUID) }}</div>
          <div>{{ getGoodOrderQuantPacking(good.GoodUUID) }}</div>
        </td>
        <td>
          <div>{{ good.Summa }}</div>
          <div>{{ good.GoodQuant + good.GoodUnit}}</div>
          <div>{{ good.GoodQuantPacking + 'шт' }}</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
