/* Custom styles go here */

.mat-dialog-container {
  background-color: #FFFFFF;
  color: #000000;
  padding: 0 !important;
}

.mat-divider {
    border-top-color: #E1DFDF;
}

.font-weight-7 {
    font-weight: 700;
}

.common-link {
    color: red !important;
    text-decoration: none;
    font-size: 10pt;
    cursor: pointer;
}

body {
    font-family: 'Arial' !important;
}

.mat-menu-panel {
    background-color: #FFFFFF;
}

.mat-menu-item {
    color: #000000;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: red;
}

.mat-radio-outer-circle {
    border-color: red;
}

/* .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    background-color: red;
} */

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: red;
}

.mat-select-value, .mat-paginator-page-size .mat-select-trigger {
  color: #000000 !important;
}


