<div class="custom-container">
  <button class="custom-close" (click)="onCancel();"><i class="fa fa-times"></i></button>
  <div id="header" class="p-24">
    <h3>{{ item.good.description }}</h3>
    {{ item.good.category + ' → ' + item.good.group}}
  </div>
  <div class="row details">
    <div class="col-4 pl-24">
      <img
        src="{{ 'http://mobile.optvrn.ru:5050/images/goods/' + item.good.uuid + '/' + item.good.uuid + '_' + '1_t.jpg' }}"
        onerror="this.src='assets/default.jpg'">
      <div class="rest"><i class="fas fa-warehouse"></i><span>{{ getRestExpression() }}</span></div>
    </div>
    <div class="col-8">
      <div class="row">
        История
      </div>
      <div class="row big-text">
        <div class="col-4">
          {{ item.good.price + ' руб.'}} c НДС
        </div>
        <div *ngIf="item.good.lastPrice !== 0 && item.good.lastPrice !== undefined" class="col-lg-2"
             [ngClass]="getDeltaClass()">
          {{ (getPriceDelta() | number : '1.2-2') + ' р.'}}
        </div>
        <div class="col-4">
          {{ getRest() }}
        </div>
      </div>
      <div class="row">
        <div class="col-4 header">
          Грузовых мест
        </div>
        <div class="col-4 header">
          Вес, кг
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <app-quantity-changer (decreaseValue)="changeQuantPacking(item, -1)"
                                (increaseValue)="changeQuantPacking(item, 1)" [value]="item.quantPacking"
                                (changeInputValue)="onQuantPackingInputChange($event, item)"></app-quantity-changer>
        </div>
        <div class="col-4">
          <app-quantity-changer (decreaseValue)="changeQuant(item, -1)" (increaseValue)="changeQuant(item, 1)"
                                [value]="item.quant"
                                (changeInputValue)="onQuantInputChange($event, item)"></app-quantity-changer>
        </div>
        <button class="bucket-btn" (click)="addItemToBucket(item)"><i class="fa fa-shopping-cart"></i></button>
      </div>
    </div>
  </div>
</div>



