/* You can add global styles to this file, and also import other style files */
.mt-60 {
    margin-top: 60px;
}

.bucket-btn {
  background-color: #d62424;
  border: 1px solid #d62424;
  color: white;
  width: 35px;
  height: 35px;
  font-size: 1.3rem;
  text-align: left;
  cursor: pointer;
}

.btn {
  background-color: #d62424;
  border: 1px solid #d62424;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 10pt;
}

.img-small {
  max-width: 60px;
  max-height: 60px;
  min-width: 60px;
  min-height: 60px;
}

.content-table {
  margin-right: 10px;
  margin-left: 10px;
}



.text-align-center {
    text-align: center;
}

.navbar {
  padding: 0 !important;
}

.ui-calendar {
  margin: 0 2px;
}

#outlets>.ui-dropdown {
  margin: 0 4px;
  width: 290px !important;
}

.fa-warehouse {
  color: gray;
}
