.count-btn {
    background-color: white;
    width: 35px;
    height: 35px;
    border: 1px solid red;
    color: red; 
    border-radius: 3px;
    font-size: 2em;
    text-align: center;
}

.backet {
    background-color: red;
    width: 105px;
    height: 35px;
    border: 1px solid red;
    color: white; 
    border-radius: 3px;
}

.container {
    /* height: 100%;
    overflow: auto; */
}
