.count-btn {
    background-color: white;
    width: 35px;
    height: 35px;
    border: 1px solid red;
    color: red; 
    border-radius: 5px;
    text-align: center;
    font-size: 2rem; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

.bucket {
    width: 105px;
    height: 35px;
}

.sign {
    position:relative;
    top: -11px;
    height:100%;
}

.quant {
    width: 50px;
    height: 35px;
    font-weight:600;
    text-align:right;
}

.table-header {
  border-bottom: 2px solid lightgrey;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.table-row {
  border-bottom: 1px solid lightgrey;
}

.table-row:hover {
  background-color: #ddfbca;
}

.description {
   font-size: 14px;
   cursor: pointer;
 }

.reset-margins {
  margin: 0 !important;
}

.sticky {
  position: fixed;
  top: 60px;
  width: 100%
}
