.count-btn {
    background-color: white;
    width: 35px;
    height: 35px;
    border: 1px solid red;
    color: red;
    border-radius: 5px;
    text-align: center;
    font-size: 2rem; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

.bucket {
    width: 105px;
    height: 35px;
}

.sign {
    position:relative;
    top: -11px;
    height:100%;
}

.quant {
    width: 50px;
    height: 35px;
    font-weight:600;
    text-align:right;
}

th {
  border-bottom: 2px solid lightgrey;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 5px;
  position:sticky;
  z-index: 1;
  margin-bottom: 10px;
  background-color: #ffffff;
  top: 90px;
  height: 30px;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

table td {
  border-bottom: 1px solid lightgrey;
}

.table-row:hover {
  /*background-color: #ddfbca;*/
  background-color: #f3d8d6;
}

.description {
   font-size: 14px;
   cursor: pointer;
  text-align: left;
 }

.reset-margins {
  margin: 0 !important;
}

/*.followMeBar {*/
/*  background: #e64a19;*/
/*  padding: 0 20px;*/
/*  position: relative;*/
/*  z-index: 1;*/
/*  color: #fff;*/
/*}*/

.followMeBar.hidden {
  visibility: hidden;
  height: 0;
  font-size: 0;
}

#stickyHeader {
  position: fixed;
  top: 60px;
  height: 30px;
  background-color: rgb(243, 216, 214);
  width: 100%;
  z-index: 1;
  font-family: 'Roboto-Condensed', sans-serif;
  padding: 2px 15px;
  font-weight: 500;
}

table.fixed {
  position:fixed;
  z-index: 1;
  margin-bottom: 10px;
  background-color: #ffffff;
  top: 90px;
}

.content-table {
  top: 90px;
  position: relative;
  font-family: 'Roboto-Condensed', sans-serif;
}

.decimal-part {
  font-size: 15px;
  font-weight: 600;
}

.red-unit {
  width: 25px;
  background-color: red;
  text-align: center;
  border-radius: 12px;
  color: white;
  vertical-align: middle;
}

.gray-unit {
  background-color: #eeeeee;
  width: 25px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  min-width: 35px;
  text-align: center;
  margin-left: 3px;
}
